---
title: "Home | Oklahoma Cash Buy"
description: "Meta description for the page"
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Critical styles are loaded first -->
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
    {% if kit.isProduction %}
        <link rel="preload" href="/assets/css/local.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet" href="/assets/css/local.css">
        </noscript>

    {% else %}
        <link rel="stylesheet" href="/assets/css/local.css"/>
    {% endif %}

    <!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
    <!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
    <!-- {% include "components/home-schema.html" %} -->
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-445">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-tag">OK Cash Buy</span>
            <h1 class="cs-title">FAST CASH FOR <br>YOUR HOUSE</h1>
            <p class="cs-text">Sell your house fast in Tulsa and Oklahoma City with Oklahoma Cash Buy. We are leading cash home buyers and close quickly across Oklahoma.            </p>
        </div>
        <a href="/contact" class="cs-cta">
            <!--Arrow Right-->
            <svg class="cs-arrow" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none"><path fill="#FAFBFC" d="M24.55 31.367c-.317 0-.633-.117-.883-.367a1.258 1.258 0 0 1 0-1.767L32.9 20l-9.233-9.233a1.258 1.258 0 0 1 0-1.767 1.258 1.258 0 0 1 1.766 0L35.55 19.117a1.258 1.258 0 0 1 0 1.766L25.433 31c-.25.25-.566.367-.883.367Z"/><path fill="#FAFBFC" d="M34.383 21.25H6.333A1.26 1.26 0 0 1 5.083 20c0-.683.567-1.25 1.25-1.25h28.05c.684 0 1.25.567 1.25 1.25a1.26 1.26 0 0 1-1.25 1.25Z"/></svg>
            <!--Wrapped in a span so it can be animated-->
            <span class="cs-cta-text">Get Your Cash<br> Offer</span>
        </a>
        <!--Stats Section-->
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-number">100+</span>
                <span class="cs-desc">Satisfied Customers in Oklahoma</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">5/5</span>
                <span class="cs-desc">Google and Yelp rating</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">100%</span>
                <span class="cs-desc">Satisfaction guaranteed on every project</span>
            </li>
        </ul>
    </div>
    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/Home-page/hero3.jpg">
        <source media="(min-width: 603px)" srcset="/assets/images/Home-page/hero3.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/Home-page/hero3.jpg" alt="leaf" width="1920" height="1000" aria-hidden="true">
    </picture>
</section>
                                

<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->

<section id="why-choose-1630">
    <div class="cs-container">
        <div class="cs-flex">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/Home-page/whychooseus1.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/Home-page/whychooseus1.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Home-page/whychooseus1.jpg" alt="therapy" width="608" height="400">
            </picture>
            <div class="cs-content">
                <span class="cs-topper">Why Choose Us</span>
                <h2 class="cs-title">We Buy Houses for Cash in Tulsa & Oklahoma City</h2>
                <p class="cs-text">If you need to sell your house fast in Tulsa or Oklahoma City, Oklahoma Cash Buy is here to help. We buy houses in any condition, so you never have to worry about making repairs, cleaning up, or paying realtor fees. Whether you’re dealing with foreclosure, an inherited property, divorce, or just want to move quickly, we provide a simple solution with a fair cash offer and fast closing.
                <br>
                Homeowners across Tulsa, OKC, and surrounding Oklahoma communities trust us for a stress-free selling process. Unlike traditional real estate listings that can take months, our process is designed for speed and convenience. From the moment you contact us, we handle everything so you can move forward confidently with a guaranteed cash sale on your timeline.</p>
            </div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <h3 class="cs-h3">
                    <picture class="cs-wrapper">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/repair.svg" alt="icon" width="24" height="24">
                    </picture>
                    No need to Repair
                </h3>
                <p class="cs-item-text">
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <picture class="cs-wrapper">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/money.svg" alt="icon" width="24" height="24">
                    </picture>
                    I'm Local and Pay Cash!
                </h3>
                <p class="cs-item-text">
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <picture class="cs-wrapper">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/no-fee.svg" alt="icon" width="24" height="24">
                    </picture>
                    No need to pay realtor fees
                </h3>
                <p class="cs-item-text">
                </p>
            </li>
        </ul>
    </div>
</section>
<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-284">
    <div class="cs-container">
        <!-- Left Section -->
        <div class="cs-content">
            <span class="cs-topper">Steps</span>
            <h2 class="cs-title">Our Process from Start to Finish</h2>
            <p class="cs-text">Oklahoma Cash Buy is your trusted cash home buyer serving Tulsa, Oklahoma City, and the surrounding Oklahoma communities. Don’t spend weeks of your time trying to get your house ready to list. When you sell to us, We give you a fair cash offer and can close faster than anyone else. We also guarantee to beat any other price.            </p>
            <a href="" class="cs-button-solid">Get Cash Offer</a>
        </div>
        <!-- Right Section -->
        <ul class="cs-right-section">
            <li class="cs-item">
                <span class="cs-number">01</span>
                <p class="cs-item-text">
                    <strong>Reach out and talk</strong><br> We will talk and discuss a fair cash offer for your house.
                </p>
            </li>
            <li class="cs-item">
                <span class="cs-number">02</span>
                <p class="cs-item-text">
                    <strong>You will have a fair cash offer.</strong><br> You will avoid any realtor commissions, needs to fix the house, or even clean it.
                </p>
            </li>
            <li class="cs-item">
                <span class="cs-number">03</span>
                <p class="cs-item-text">
                    <strong>Start the closing process.</strong><br> Once the cash offer is accepted, we start the closing process immediately.
                </p>
            </li>
            <li class="cs-item">
                <span class="cs-number">04</span>
                <p class="cs-item-text">
                    <strong>Get paid!</strong><br> This is the best part. You get paid and get to go on your way.
            </li>
        </ul>
    </div>
</section>
<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<!--
    To add a 5th or 6th gallery or more, copy and paste the cs-button and change it's data-filter to th next number, in this case it's 5. Do the dame to the cs-gallery and its data-category number. And thats it!
-->

<section id="gallery-2281">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Old Projects</span>
                <h2 class="cs-title">Houses We Have Bought</h2>
            </div>
            <div class="cs-button-group">
                <button class="cs-button" data-filter="one">
                    All
                </button>
                <button class="cs-button" data-filter="two">
                    Roofing
                </button>
                <button class="cs-button" data-filter="three">
                    House Painting
                </button>
                <button class="cs-button" data-filter="four">
                    Windows
                </button>
            </div>
        </div>
        <div class="cs-gallery-wrapper">
            <!--Gallery 1-->
            <div class="cs-gallery" data-category="one">
                <!--Picture 1-->
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/Home-page/gallery/gallery1.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/Home-page/gallery/gallery1.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/Home-page/gallery/gallery1.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Hardscaping</span>
                        <span class="cs-project">Stonemere Patio Retreat</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/Home-page/gallery/gallery2.jpg">
                        <source media="(min-width: 602px)" srcset="/assets/images/Home-page/gallery/gallery2.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/Home-page/gallery/gallery2.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Hardscaping</span>
                        <span class="cs-project">Stonemere Patio Retreat</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/Home-page/gallery/gallery3.jpg">
                        <source media="(min-width: 603px)" srcset="/assets/images/Home-page/gallery/gallery3.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/Home-page/gallery/gallery3.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Hardscaping</span>
                        <span class="cs-project">Stonemere Patio Retreat</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/Home-page/gallery/gallery4.jpg">
                        <source media="(min-width: 604px)" srcset="/assets/images/Home-page/gallery/gallery4.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/Home-page/gallery/gallery4.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Hardscaping</span>
                        <span class="cs-project">Stonemere Patio Retreat</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/Home-page/gallery/gallery5.jpg">
                        <source media="(min-width: 605px)" srcset="/assets/images/Home-page/gallery/gallery5.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/Home-page/gallery/gallery5.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Hardscaping</span>
                        <span class="cs-project">Stonemere Patio Retreat</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/Home-page/gallery/gallery6.jpg">
                        <source media="(min-width: 606px)" srcset="/assets/images/Home-page/gallery/gallery6.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/Home-page/gallery/gallery6.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Hardscaping</span>
                        <span class="cs-project">Stonemere Patio Retreat</span>
                    </div>
                </a>
            </div>
            <!--Gallery 2-->
            <div class="cs-gallery cs-hidden" data-category="two">
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/Home-page/gallery/gallery1.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/Home-page/gallery/gallery1.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/Home-page/gallery/gallery1.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Hardscaping</span>
                        <span class="cs-project">Stonemere Patio Retreat</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/Home-page/gallery/gallery1.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/Home-page/gallery/gallery1.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/Home-page/gallery/gallery1.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Hardscaping</span>
                        <span class="cs-project">Stonemere Patio Retreat</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/Home-page/gallery/gallery1.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/Home-page/gallery/gallery1.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/Home-page/gallery/gallery1.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Hardscaping</span>
                        <span class="cs-project">Stonemere Patio Retreat</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Hardscaping</span>
                        <span class="cs-project">Stonemere Patio Retreat</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Hardscaping</span>
                        <span class="cs-project">Stonemere Patio Retreat</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Hardscaping</span>
                        <span class="cs-project">Stonemere Patio Retreat</span>
                    </div>
                </a>
            </div>
            <!--Gallery 3-->
            <div class="cs-gallery cs-hidden" data-category="three">
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Hardscaping</span>
                        <span class="cs-project">Stonemere Patio Retreat</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Hardscaping</span>
                        <span class="cs-project">Stonemere Patio Retreat</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Hardscaping</span>
                        <span class="cs-project">Stonemere Patio Retreat</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Hardscaping</span>
                        <span class="cs-project">Stonemere Patio Retreat</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Hardscaping</span>
                        <span class="cs-project">Stonemere Patio Retreat</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Hardscaping</span>
                        <span class="cs-project">Stonemere Patio Retreat</span>
                    </div>
                </a>
            </div>
            <!--Gallery 4-->
            <div class="cs-gallery cs-hidden" data-category="four">
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Hardscaping</span>
                        <span class="cs-project">Stonemere Patio Retreat</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Hardscaping</span>
                        <span class="cs-project">Stonemere Patio Retreat</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Hardscaping</span>
                        <span class="cs-project">Stonemere Patio Retreat</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Hardscaping</span>
                        <span class="cs-project">Stonemere Patio Retreat</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Hardscaping</span>
                        <span class="cs-project">Stonemere Patio Retreat</span>
                    </div>
                </a>
                <a class="cs-image" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Images/MISC/protest-sign.jpeg" alt="gallery" width="305" height="400">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-tag">Hardscaping</span>
                        <span class="cs-project">Stonemere Patio Retreat</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->

<section id="gallery-2250" hidden>
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">ALL SERVICES</span>
            <h2 class="cs-title">We have purchased these properties in the past.</h2>
            <p class="cs-text">
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-wrapper">
                        <span class="cs-header">Portrait Photoshoot</span>
                        <h3 class="cs-h3">
                            Jacky's Portraits
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/upper-right-arrow.svg" alt="icon" width="32" height="32" aria-hidden="true">
                        </h3>
                    </div>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/Home-page/gallery/gallery1.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/Home-page/gallery/gallery1.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/Home-page/gallery/gallery1.jpg" alt="person" width="352" height="440">
                    </picture>
                </a>
            </li>
            <li class="cs-item cs-shift">
                <a href="" class="cs-link">
                    <div class="cs-wrapper">
                        <span class="cs-header">Portrait Photoshoot</span>
                        <h3 class="cs-h3">
                            Jacky's Portraits
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/upper-right-arrow.svg" alt="icon" width="32" height="32" aria-hidden="true">
                        </h3>
                    </div>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/Home-page/gallery/gallery2.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 602px)" srcset="/assets/images/Home-page/gallery/gallery2.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/Home-page/gallery/gallery2.jpg" alt="person" width="352" height="440">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-wrapper">
                        <span class="cs-header">Portrait Photoshoot</span>
                        <h3 class="cs-h3">
                            Jacky's Portraits
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/upper-right-arrow.svg" alt="icon" width="32" height="32" aria-hidden="true">
                        </h3>
                    </div>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/Home-page/gallery/gallery3.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 603px)" srcset="/assets/images/Home-page/gallery/gallery3.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/Home-page/gallery/gallery3.jpg" alt="person" width="352" height="440">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-wrapper">
                        <span class="cs-header">Portrait Photoshoot</span>
                        <h3 class="cs-h3">
                            Jacky's Portraits
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/upper-right-arrow.svg" alt="icon" width="32" height="32" aria-hidden="true">
                        </h3>
                    </div>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/Home-page/gallery/gallery4.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 604px)" srcset="/assets/images/Home-page/gallery/gallery4.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/Home-page/gallery/gallery4.jpg" alt="person" width="352" height="440">
                    </picture>
                </a>
            </li>
            <li class="cs-item cs-shift">
                <a href="" class="cs-link">
                    <div class="cs-wrapper">
                        <span class="cs-header">Portrait Photoshoot</span>
                        <h3 class="cs-h3">
                            Jacky's Portraits
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/upper-right-arrow.svg" alt="icon" width="32" height="32" aria-hidden="true">
                        </h3>
                    </div>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/Home-page/gallery/gallery5.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 605px)" srcset="/assets/images/Home-page/gallery/gallery5.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/Home-page/gallery/gallery5.jpg" alt="person" width="352" height="440">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-wrapper">
                        <span class="cs-header">Portrait Photoshoot</span>
                        <h3 class="cs-h3">
                            Jacky's Portraits
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/upper-right-arrow.svg" alt="icon" width="32" height="32" aria-hidden="true">
                        </h3>
                    </div>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/Home-page/gallery/gallery6.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 606px)" srcset="/assets/images/Home-page/gallery/gallery6.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/Home-page/gallery/gallery6.jpg" alt="person" width="352" height="440">
                    </picture>
                </a>
            </li>
        </ul>
    </div>
</section>
<!-- ============================================ -->
<!--                    Stats                     -->
<!-- ============================================ -->

<section id="stats-8">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Why Work with Us</span>
            <h2 class="cs-title">Our Numbers Speak For Themselves</h2>
            <p class="cs-text">We make selling your house quick and stress-free. Our team provides fair cash offers, flexible closings, and a hassle-free process that works on your timeline. Whether you’re facing foreclosure, need to sell fast, or just want a smooth transaction, we’re here to help.            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-number">40+</span>
                <span class="cs-stat-text">Years Experience</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">4</span>
                <span class="cs-stat-text">Experienced Staff</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">100+</span>
                <span class="cs-stat-text">Happy Clients</span>
            </li>
        </ul>
        <a href="" class="cs-button-solid">Contact Us</a>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Stats/bg-m.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Stats/bg.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Stats/bg.jpg" alt="brick wall" width="1920" height="1282" aria-hidden="true">
    </picture>
</section>
                                

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-2277">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-header">
                <span class="cs-topper">Why Choose Us</span>
                <h2 class="cs-title">Why Homeowners Trust Stitch Builders Remodeling</h2>
            </div>
            <div class="cs-wrapper">
                <div class="cs-flex">
                    <p class="cs-text">
                        Choose Platinum Craft Exteriors for expert craftsmanship and personalized service. With 5 years of experience, we provide reliable, high-quality exterior solutions that exceed your expectations.
                    </p>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/diamond.svg" loading="lazy" decoding="async" alt="squares" width="11" height="11">
                            <p class="cs-item-text">
                                <strong>Expert Craftsmanship:</strong> Decades of experience ensure every detail is perfect.
                            </p>
                        </li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/diamond.svg" loading="lazy" decoding="async" alt="squares" width="11" height="11">
                            <p class="cs-item-text">
                                <strong>Premium Materials:</strong> We use only the highest-quality products for lasting results.
                            </p>
                        </li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/diamond.svg" loading="lazy" decoding="async" alt="squares" width="11" height="11">
                            <p class="cs-item-text">
                                <strong>Expert Craftsmanship:</strong> Decades of experience ensure every detail is perfect.
                            </p>
                        </li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/diamond.svg" loading="lazy" decoding="async" alt="squares" width="11" height="11">
                            <p class="cs-item-text">
                                <strong>Expert Craftsmanship:</strong> Decades of experience ensure every detail is perfect.
                            </p>
                        </li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/diamond.svg" loading="lazy" decoding="async" alt="squares" width="11" height="11">
                            <p class="cs-item-text">
                                <strong>Expert Craftsmanship:</strong> Decades of experience ensure every detail is perfect.
                            </p>
                        </li>
                    </ul>
                    <a href="" class="cs-button-solid">Read More</a>
                </div>
                <div class="cs-image-group">
                    <ul class="cs-card-group">
                        <li class="cs-item">
                            <img class="cs-item-icon" aria-hidden="true" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/building-white.svg" alt="icon" width="48" height="48" loading="lazy">
                            <span class="cs-number">
                                50+
                                <span class="cs-desc">Communities Served</span>
                            </span>
                        </li>
                        <li class="cs-item">
                            <img class="cs-item-icon" aria-hidden="true" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/trophy-white.svg" alt="icon" width="48" height="48" loading="lazy">
                            <span class="cs-number">
                                98%
                                <span class="cs-desc">Customer Satisfaction Rate</span>
                            </span>
                        </li>
                    </ul>
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction6.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction6.jpg">
                        <img aria-hidden="true" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction6.jpg" alt="construction site" width="755" height="491" loading="lazy">
                    </picture>
                </div>
            </div>
        </div>
    </div>
    
</section>


<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-2418">
    <div class="cs-container">
        <figure class="cs-card">
            <div class="cs-content">
                <h2 class="cs-topper">Happy Clients Speak</h2>
                <p class="cs-title">What They Say</p>
            </div>
            <blockquote class="cs-blockquote">   
                <img class="cs-stars" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/stars5.svg" decoding="async" alt="" width="136" height="20" loading="lazy">
                <p class="cs-review">Selling my house to Oklahoma Cash Buy was a game-changer for me! The team was professional, honest, and made the entire process stress-free. They gave me a fair cash offer and closed quickly, just like they promised. I highly recommend them to anyone looking to sell their house fast.</p>
            </blockquote>
            <figcaption class="cs-info">
                <img class="cs-profile" src="https://nyc3.digitaloceanspaces.com/csimages2/Images/People/reviewbg-pet-services-840x840.jpg" decoding="async" alt="" width="52" height="52" loading="lazy">
            
                <span class="cs-name">
                    Jenny Y.
                    <span class="cs-desc">Home Owner</span>
                </span>
                <!--Quote Icon-->
                <svg class="cs-profile-graphic" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="125" height="100" viewBox="0 0 125 100"><path fill="var(--primary)" d="M68.8 0 28.7 100H0L22.9 0h45.9Zm10.3 0L56.2 100h28.7L125 0H79.1Z"/></svg>
            </figcaption>
        </figure>
    </div>
    <picture class="cs-background">
        <!-- coincides with css Custom mid Mobile/Tablet breakpoint -->
         <!-- update media max and min below if css changes -->
        <source media="(max-width: 767px)" srcset="/assets/images/Home-page/review3.jpg">
        <source media="(min-width: 768px)" srcset="/assets/images/Home-page/review2.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/Home-page/review2.jpg" alt="" width="630" height="877">
    </picture>
</section>
                                
                                


                                
                                
                                
                                
                                
                                

   

    {% include 'sections/cta.html' %}
{% endblock %}